@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* width: 100vw; */
  /* overflow-x: hidden; */
  /* box-sizing: border-box; */
}

/* Jeff Wooden: https://stackoverflow.com/questions/12906789/preventing-an-image-from-being-draggable-or-selectable-without-using-js */
#yellow-wave-2 {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

/* .hdpi.pac-logo:after {
  background-image: none;
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

#adoption-tips-container {
  /* background-image: url('../../public/adoption-img-1.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#search-bg {
  background-image: url('../../public/homepage-bg-2i.jpg');
  /* background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
}

#intro-heading-container {
  /* background-color: rgba(255, 255, 255, 0.5); */
}

#intro-heading {
  line-height: 1.15;
}

#pink-bg-shape {
  max-width: none;
}

#intro-bottom {
  /* background-image: url('../../public/pets-3.png'); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

.no-session-feedback {
   display: none;
}

#account-nav-container {
  /* display: none; */
  align-items: start;
  flex-wrap: wrap;
  flex-direction: row;
  width: fit-content;
  /* height: calc(100vh - 4rem); */
  height: fit-content;
  position: fixed;
  opacity: 0;
  top: 10vh;
  right: -50vw;
  bottom: 0;
  background-color: black;
  z-index: 10;
  touch-action: none;
}

#nav-button {
  /* transform: rotate(0deg); */
}

@media screen and (min-width: 640px) {
  #search-bg {
    background-image: url('../../public/homepage-bg-2-desktop-g.jpg');
    background-position: center;
  }
}